{% extends "base.html" %}

{% block title %}Dashboard Cliente - Groomly{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Dashboard do Cliente</h1>
    
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Bem-vindo, {{ nome }}!</h5>
                    <p class="card-text">Gerencie seus agendamentos aqui.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
